<table class="table table-striped" id="dvdTable">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Release Date</th>
        <th scope="col">Director</th>
        <th scope="col">Rating</th>
        <th scope="col">          </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dvd of dvds" scope="row">
        <td>{{ dvd.title}}</td>
        <td>{{ dvd.releaseYear}}</td>
        <td>{{ dvd.director}}</td>
        <td>{{ dvd.rating }}</td>
        <td>
            <a href="/edit"
            target="_blank"
            
            >
            edit
          </a>
          <span>|</span>
          <a target="_blank"
          ></a>
          delete
        
        </td>
        
      </tr>
    </tbody>
  </table>