
<!-- Error messages -->
<ul class="list-group" [innerHtml]="errors" id="searchErrorMessages" ></ul>



<table class="table table-striped" id="dvdTable">
    <thead>
      <tr>
        <!-- Table headers -->
        <th scope="col">Title</th>
        <th scope="col">Release Date</th>
        <th scope="col">Director</th>
        <th scope="col">Rating</th>
        <th scope="col">          </th>
      </tr>
    </thead>
    <tbody>
      <!-- fill table -->
      <tr *ngFor="let dvd of dvds" scope="row">
        <td>
            <a href="/view/{{dvd.id}}">
            {{ dvd.title}}
            </a>
        </td>
        <td>{{ dvd.releaseYear}}</td>
        <td>{{ dvd.director}}</td>
        <td>{{ dvd.rating }}</td>
        <td>
          <a routerLink="/edit/{{dvd.id}}">
            edit
          </a>
          <span>| </span>
          <a routerLink="" (click)="delete(dvd.id)">
            <span>delete</span>
        </a>

        </td>
        
      </tr>
    </tbody>
  </table> <!-- Dvds table -->