<div class="containter">
    
    
    <form (ngSubmit)="onSearch()" #f="ngForm">

        <div class="row"
          id="search-data"
          ngModelGroup="searchData"
          #searchData="ngModelGroup">


            <div class="form-group offset-md-1">
                <form>
                    <a routerLink="/create">
                        <button  class="btn btn-primary">Create DVD</button>
                    </a>
                    
                </form>
            </div>
            <div class="form-group offset-md-2">
                    <button type="submit" class="btn btn-primary" (click)="homeContent.getByCategory()">Search</button>
                
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" id="categorySelect" name="categorySelect" 
                [(ngModel)]="selectedCategory">
                    <option value="category">Search Category</option>
                    <option value="title">Title</option>
                    <option value="releaseYear">Release Year</option>
                    <option value="director">Director Name</option>
                    <option value="rating">Rating</option>
                  </select>
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" 
                [(ngModel)]="term">
            </div>
            
        
        </div>

      </form>



      
      <hr>
      <!-- add the content under the top -->
      <app-home-content [category]="selectedCategory" [term]="term" #homeContent></app-home-content>

</div>


