<div class="container">
  <h1 class="">{{ title }}</h1>
  <hr>
<!-- Error list -->
  <ul class="list-group" [innerHtml]="errors" id="createErrorMessages"></ul>

  <div class="row">
    <div class="col-6" id='formInput'>
      <form (ngSubmit)="onSubmit()" #f="ngForm">

        <div
          id="dvd-data"
          ngModelGroup="dvdData"
          #dvdData="ngModelGroup">

          <div class="form-group">
            <label for="dvdTitle">Dvd Title</label>
            <input
              type="text"
              id="dvdTitle"
              class="form-control"
              [(ngModel)]="newDvd.title"
              name="dvdTitle"
              placeholder="Enter Title">
          </div> <!-- formgroup: dvdTitle -->

          <div class="form-group">
            <label for="dvdReleaseYear">Release Year</label>
            <input
              type="number"
              min="1900"
              max="2021"
              id="dvdReleaseYear"
              class="form-control"
              [(ngModel)]="newDvd.releaseYear"
              name="dvdReleaseYear"
              placeholder="Enter Release Year"
              required
              >
          </div> <!-- formgroup: dvdReleaseYear -->



          <div class="form-group">
            <label for="dvdDirector">Director</label>
            <input
              type="text"
              id="dvdDirector"
              class="form-control"
              [(ngModel)]="newDvd.director"
              name="dvdDirector"
              placeholder="Enter Director"
              required
            > 

          </div> <!-- formgroup: dvdDirector-->

          <div class="form-group">
            <label for="dvdRating">Rating</label>
            <select
              id="dvdRating"
              class="form-control"
              name="dvdRating"
              [(ngModel)]="newDvd.rating"
              >
              <option selected disabled value="">Choose Rating</option>
              <option value="G">G</option>
              <option value="PG">PG</option>
              <option value="PG-13">PG-13</option>
              <option value="R">R</option>
              <option value="X">X</option>
            </select>
  
          </div> <!-- formgroup: dvdRating -->


          
          <div class="form-group">
            <label for="dvdNotes">Notes:</label>
              <textarea
                id = "dvdNotes"
                name="dvdNotes"
                rows="3"
                class="form-control"
                [(ngModel)]="newDvd.notes"></textarea>
            </div> <!-- formgroup: dvdNotes -->


            <div class="row">
              <form action="/home">
                <button
                class="btn btn-primary"
                type="button"
                (click)='onCancel()'
                >Cancel</button>
              </form> <!-- Cancel button -->

              <button
            class="offset-sm-1 btn btn-primary"
            type="submit"
            >Create Dvd</button> <!-- Create Dvd Button  -->
            </div>



        </div>

  </form>
    </div> <!-- formInput -->


  </div> <!-- row -->
</div> <!-- container -->